body {
	background-color: #eb5a5a;
	font-family: Arial, sans-serif;
}

header {
	background-color: #ff69b4;
	background: #380876;
	padding: 20px;
}

h1 {
	margin: 0;
	color: white;
	text-align: center;
	font-size: 3em;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	line-height: 1.5;
}

textarea {
	width: 100%;
}

.galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.galeria img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

video {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

.video-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%; /* evitar que los videos se desborden del contenedor */
  position: relative;
  transform: 0.5;
}

.video-wrapper {
  width: 45%; /* ajustar el ancho de cada video al 45% del contenedor */
}

.video-wrapper video {
  width: 100%; /* ajustar el ancho de los videos para que se ajusten a sus respectivos contenedores */
  height: auto; /* ajustar la altura de los videos de manera proporcional */
}
.galeria{
	display: flex;
  }
  
  .galeria img {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	border-radius: 50%;
	transition: transform 0.5s;
  }
  
  .galeria img:hover {
	transform: rotate(360deg);
  }